@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<picturpictur.Models.UserImage>

<div class="dnnForm">
    <h2 class="dnnFormSectionHead">Új kép feltöltése</h2>

    <form action="@Url.Action("Edit", "Image")" method="post" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <fieldset>
            <div class="dnnFormItem">
                <label>Válasszon egy képet:</label>
                <input type="file" name="attachment" id="attachment" required />
            </div>
        </fieldset>

        <div class="dnnActions dnnClear">
            <button type="submit" class="dnnPrimaryAction">Feltöltés</button>
            <a href="@Url.Action("Index", "Image")" class="dnnSecondaryAction">Mégse</a>
        </div>
    </form>
</div>